.builderWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.buildedForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inputWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}